@media only screen and (max-device-width:991px){
  .in-container{
    margin-top: 100px;
  }
  .wrap-merek{
    display: none;
  }
  .mar-2{
    margin-top: 20px;
  }
  .img-backdrop{
    width: 100%;
  }
  .img-cover-add{
    height: 300px;
  }
  .no-pad{
    padding: 0;
  }
}

@media only screen and (max-device-width:767px){
  .in-container{
    margin-top: 0;
  }
  .blckqt{
    margin-top: 20px;
  }
  .nv_index{
    background: white;
    position: relative;
  }
  .img-profil{
    margin-left:
  }
}
